*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.container{
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.75%;
  text-align: left;
  color: rgba(15, 23, 42, 1);
}
.section-header{
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: left;
  gap: 8px;
  background-color: rgba(242, 242, 247, 1);
  margin-bottom: 16px;
}
/* HEADER start */
.header{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;

}
.header-container{
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{
  display: flex;
}

.nav-list{
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-link{
  font-family: SF Pro, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  text-decoration: none;

}

.main-link{
  padding: 8px 16px;
  background-color: rgba(15, 23, 42, 1);
  border-radius: 8px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
}

/* HEADER end */

.hero{
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url('../img/hero/HeroBG.png');
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content:space-between ;
}
.hero-info{
  max-width: 544px;

}
.hero-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(15, 23, 42, 1);
  margin-bottom: 12px;

}

.hero-text{
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(71, 85, 105, 1);
  margin-bottom: 40px;

}
.hero-link{
  padding: 10px 24px;
  background-color: rgba(15, 23, 42, 1);
  color: white;
  text-decoration: none;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

/* BREND start */


.brend{
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #F2F2F7;

}
.brend-container{
  display: flex;
  justify-content: space-between;
}


/* BREND end */

/* SERVICE start */
.service{
  padding-top: 120px;
  padding-bottom: 72px;
  background-image: url('../img/hero/HeroBG.png');
  background-repeat: no-repeat;
}
.service-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sevice-header{
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(242, 242, 247, 1);
  margin-bottom: 16px;
}

.service-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;

}

.service-list{
  padding-top: 40px;

}
.service-img{
  width: 52px;
}
.service-item{
  display: flex;
  align-items: start;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(226, 232, 240, 1)
}

.service-list .service-item:last-child{
  border-bottom: none;
}
.service-item-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  letter-spacing: -0.6%;
  margin-bottom: 8px;
}
.service-item-item{
  color: rgba(51, 65, 85, 1);
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 28px;


}
.service-item-list{
  padding-left: 24px;
  list-style-type: disc;
}
/* SERVICE end */


/* WHY US start */

.why-us{
  padding-top: 64px;
  padding-bottom: 64px;

}
.why-us-container{
  text-align: center;


}
.why-us-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.why-us-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 64px;
  text-align: left;

}
.why-us-col{
  border: 1px solid rgba(226, 232, 240, 1);
  background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
  padding: 24px;
  border-radius: 24px;

}
.why-us-col-img{
  width: 48px;
  margin-bottom: 32px;

}
.why-us-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-style: Semibold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: rgba(15, 23, 42, 1);
  margin-bottom: 8px;

}
.why-us-text{
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(51, 65, 85, 1);
}

.why-us-link{
  padding: 10px 24px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
  background-color: rgba(15, 23, 42, 1);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  /* width: 228px; */

}

/* WHY US end */

/* PORTFOLIO start */
.portfolio-card{
  max-width: 500px;
}
.portfolio{
  width: 100%;
  background-image: url('../img/hero/HeroBG.png');
  padding: 64px 0px;
}

.portfolio-top{
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}
.portfolio-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: rgba(15, 23, 42, 1);

}
.portfolio-text{
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;

}
.portfolio-card-img{
  display: block;
  width: 100%;
  margin-bottom: 8px;

}
.portfolio-btn{
  width: 40px;
  height: 40px;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.mySwiper{
  position: relative !important;
  max-width:  1056px ;
}
.swiper-button-next1{
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1111;
  transform: translateY(-50%);
  cursor: pointer;
}
.swiper-button-prev2{
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1111;
  transform: translateY(-50%);
  cursor: pointer;

}
.portfolio-row{
  position: relative !important;

}
/* PORTFOLIO end */

/* ABOUT start */

.about{
  width: 100%;
  height: auto;
  background-image: url('../img/hero/HeroBG.png');
}
.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.about-title{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
  text-align: center;
  color: rgba(15, 23, 42, 1);
}
.about-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-col{
  padding: 32px;
  width: 276px;
  border: 1px solid rgba(226, 232, 240, 1);
  background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
  border-radius: 24px;
}
.about-col h3{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: rgba(15, 23, 42, 1);
  margin-bottom: 8px;
}
.about-col p{
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(51, 65, 85, 1);

}
.about-link{
  padding: 10px 24px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
  background-color: rgba(15, 23, 42, 1);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}
/* ABOUT end */

/* THOUGHT start */

.thought{
  width: 100%;
  background-image: url('../img/hero/HeroBG.png');
  padding-top: 120px;
  padding-bottom: 48px;
}
.thought-container{
  display: flex;
  justify-content: space-between;
}
.thought-flex{
  display: flex;
  flex-direction: column;
}
.hought-card{
  display: flex;
  gap: 24px;
  width: 590px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(226, 232, 240, 1);
  background-color: rgba(255, 255, 255, 0.849);

}
.hought-card img{
  width: 80px;
  height: 80px;
}
.hought-card h3{
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: rgba(15, 23, 42, 1);
  margin-bottom: 8px;
}
.hought-card p{
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}


.thought-link{
  padding: 8px 16px;
  text-decoration: none;
  color: rgba(15, 23, 42, 1);
  background-color: rgba(242, 242, 247, 1);
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border-radius: 8px;
  width: 145px;

}
/* THOUGHT end */

/* Boglaning start */

.boglaning{
  width: 100%;
  background-image: url('../img/hero/HeroBG.png');
  padding-top: 80px;
  padding-bottom: 80px;
}
.boglaning-container{
  display: flex;
  justify-content: space-between;;
}
.boglaning-left{
  max-width: 568px;
}

form{
  width: 568px;
  height: 410px;
  padding: 24px;
  background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
form p{
  font-size: 16px;
  font-family: sans-serif;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
}
form input{
  width: 100%;
  height: 48px;
  padding-left: 16px;
  border-radius: 8px;
  border: 1px solid var(--Border-Default-Default, rgba(217, 217, 217, 1));
  background: var(--Background-Default-Default, rgba(255, 255, 255, 1));
  margin-bottom: 24px;

}
.boglaning_btn{
  width: 100%;
  height: 48px;
  background-color: rgba(15, 23, 42, 1);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
/* Boglaning end */

/* Footer start */

footer{
  width: 100%;
  background: var(--Backgrounds-Secondary, rgba(242, 242, 247, 1));
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-left p{
  margin-top: 66px;
  font-family: SF Pro, sans-serif;
  font-weight: 300;
  font-style: Bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(100, 116, 139, 1);
}
.footer-right{
  display: flex;
  gap: 48px;
}
.footer-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-item{
  font-family: SF Pro, sans-serif;
  font-weight: 510;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  list-style-type: none;
  color: rgba(71, 85, 105, 1);
  display: flex;
  align-items: center;

}
.footer-item a{
  color: rgba(71, 85, 105, 1);
}
.footer-list-title{
  font-family: SF Pro,sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: rgba(15, 23, 42, 1);

}
/* Footer end */

/* RESPOSIVE */
@media only screen and (max-width: 850px){
  .hero-container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-title{
    font-size: 30px;

  }
  .hero-text{
    font-size: 14px;

  }
  .hero-info{
    max-width: 342px;
  }
  .hero-img{
    width: 170px;
  }
  .brend-logo:last-child{
    display: none;
  }
}

@media only screen and (max-width: 710px){
  .brend-logo:first-child{
    display: none;
  }
}
@media only screen and (max-width: 630px){
  .nav-list{
    display: none;
  }
  .main-link{
    width: 163px;
    font-size: 12px;
    height: 36px;
    padding-top: 6px;
  }
  .header-logo{
    width: 68px;
  }
}
@media only screen and (max-width: 610px){
  .hero{
    padding-top: 70px;
  }
  .hero-container{
    flex-direction: column;
    align-items: start;
  }
  .hero-info{
    order: 2;
  }
  .hero-img{
    width: 102px;
    order: 1;
    margin-bottom: 40px;
  }
  .hero-title{
    font-size: 26px;

  }
  .resp{
    display: none;
  }
  .brend-logo:first-child{
    display: block;
  }
  .brend-logo{
    width: 90px;
    height: 32px;
  }
  .brend-container{
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .service-container{
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width: 450px){
  .hero-container{
    padding-left: 20px;
    padding-right: 0px;
  }
}